/node_modules
/public/hot
/public/storage
/public/avatars
!/public/default.jpg
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
